.my-badge-red {
    position: relative;
    /* float: right; */
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    text-align: center;
    background-color: rgb(207, 0, 0);
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.my-badge-orange {
    position: relative;
    /* float: right; */
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    text-align: center;
    background-color: orange;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.my-badge-blue{
    position: relative;
    /* float: right; */
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    text-align: center;
    background-color:#4151a6;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.my-badge-green{
    position: relative;
    /* float: right; */
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    text-align: center;
    background-color: green;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
