<p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
<div class="ui-g">
    <div class="ui-md-9 ui-md-offset-1">
        <div class="ui-g form-group">
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-4">
                    <h3>Company Data</h3>
                </div>
                <div class="ui-g-12 ui-md-4 ui-md-offset-4">
                    <h5 class="primary-text">Id Evaluación : La Esperanza2016S2|VA201957 - (2er,232)</h5>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6">
                <label for="multiselect" class="primary-text">Date</label>
                <input type="text" pInputText placeholder="date" value="05/09/2019" [disabled]="!disable">
            </div>
            <div class="ui-g-12 ui-md-6">
                <label for="multiselect" class="primary-text">Elanco agent</label>
                <input type="text" pInputText placeholder="agent" value="Claudio Linzmayer" [disabled]="!disable">
            </div>
            <div class="ui-g-12 ui-md-6">
                <label for="multiselect" class="primary-text">Client</label>
                <input type="text" pInputText placeholder="client" value="Acuinova Chile S.A." [disabled]="!disable">
            </div>
            <div class="ui-g-12 ui-md-6">
                <label for="multiselect" class="primary-text">Health condition evaluator</label>
                <input type="text" pInputText placeholder="evaluator" value="" [disabled]="!disable">
            </div>
            <div class="ui-g-12 ui-md-6">
                <label for="multiselect" class="primary-text">Site</label>
                <input type="text" pInputText placeholder="evaluator" value="La Esperanza" [disabled]="!disable">
            </div>
            <div class="ui-g-12 ui-md-6">
                <label for="multiselect" class="primary-text">Site administrator</label>
                <input type="text" pInputText placeholder="admin" value="Carlos Ojeda" [disabled]="!disable">
            </div>
            <div class="ui-g-12 ui-md-6">
                <label for="multiselect" class="primary-text">Subgroup</label>
                <input type="text" pInputText placeholder="subgroup" value="Prueba" [disabled]="!disable">
            </div>
            <div class="ui-g-12 ui-md-6">
                <label for="multiselect" class="primary-text">Health Manager / Vet</label>
                <input type="text" pInputText placeholder="manager" value="" [disabled]="!disable">
            </div>
        </div>
    </div>
</div>