<div class="ui-g-12 ui-md-4 ui-md-offset-4">
  <p-card class="user-card">
    <p-header>
      <h2 style="margin-left: 10px;">Contact</h2>
    </p-header>
    <div class="user-card-content">
      <img src="assets/layout/images/avatar.png" />
      <span style="font-size: 2em;">Claudio Linzmayer
        Elanco</span>
      <div class="ui-g form-group">
        <div class="ui-md-12">
          <div class="ui-g-12 ui-md-2 primary-text">
            Telefono:
          </div>
          <div class="ui-g-12 ui-md-10">
            555-555
          </div>
        </div>
        <div class="ui-md-12">
          <div class="ui-g-12 ui-md-2 primary-text">
            Celular:
          </div>
          <div class="ui-g-12 ui-md-10">
            555-555
          </div>
        </div>
        <div class="ui-md-12">
          <div class="ui-g-12 ui-md-2 primary-text">
            Fax:
          </div>
          <div class="ui-g-12 ui-md-10">
            555-555
          </div>
        </div>
        <div class="ui-md-12">
          <div class="ui-g-12 ui-md-2 primary-text">
            Email:
          </div>
          <div class="ui-g-12 ui-md-10">
            claudio.linzmayer@elanco.com
          </div>
        </div>
      </div>
      <!-- <button type="button" label="Connect" icon="fa fa-send" class="raised-btn" pButton></button> -->
    </div>
  </p-card>
</div>